* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.companies-section {
  height: 100%;
  text-align: center;
}

.container {
  width: 100%;
}

.small-bold-text {
  /* margin-top: 80px; */
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}

.logos-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.logo-box {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  transition: transform 0.3s;
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: auto;
}

.logo-box:hover {
  transform: scale(1.05);
}

.logo-box img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .logos-grid {
    grid-template-columns: 1fr;
  }

  .logo-box img {
    /* max-width: 200px; */
  }
}

