body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  padding: 20px;
}

.container {
  margin-top: 100px;
  background-color: #fff;
  margin-left: 240px;
  width: 60%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.facilities-table {
  width: 100%;
  border: 1px solid #ddd; /* Add border to the table */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.facilities-table th,
.facilities-table td {
  border: 1px solid #ddd; /* Add border to table cells */
  padding: 10px;
  text-align: center; /* Center text within cells */
}

.facilities-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}
