body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 60px;
  background-color: #4caf50;
  color: white;
  padding: 1em;
  text-align: center;
}

section {
  padding: 2em;
}

#about-us {
  background-color: #f9f9f9;
  margin-bottom: 2em;
  position: relative;
}

.float-image {
  margin-top: 150px;
  border: 3px dotted #000;
  float: right;
  width: 300px;
  border-radius: 20%;
  height: auto;
  transition: transform 0.3s ease;
}

.float-image:hover {
  transform: scale(1.1);
}

.hover-text {
  transition: color 0.3s ease, transform 0.3s ease;
}

.hover-text:hover {
  color: #4caf50;
  transform: scale(1.05);
}

.plots-container {
  display: flex;
  align-items: flex-start;
}

table {
  flex: 1;
  border-collapse: collapse;
  margin-right: 1em;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}
